<% include partials/header %>

<div class="container">

        <!-- <button type="button"  class="button"><a href="/login" class="">Login</a> </button> -->
        
                <h1 id="landing-header">Welcome to DKC: 1000 Videos for the Deaf</h1>
                <br><br>
                
                <h1 id="empty"></h1>
        
                <p align="center"><iframe src="https://youtube.com/embed/o69Leis8Mcc" width=640 height="360"></iframe></p>
                <br><br>

                <a href="/login" class="btn btn-light btn-lg btn-block" role="button" aria-pressed="true">Login</a>
                <!-- <a href="/login" class="">Login</a> -->
        </div>
        <br></br>
        
        <div class="landing-row">
                <div  class="columnLanding" style="background-color:#00E0CD;">
                <h3>Create an Account or Login</h3>
                <p>After reviewing the instructions, create an account to begin filming your translation.</p>
                </div>
                <div  class="columnLanding" style="background-color:#00E0CD;">
                <h3>Select a Video to Translate</h3>
                <p>Pick one of Khan Academy's many educational videos to begin translating into American Sign Language.</p>
                </div>
                <div class="columnLanding" style="background-color:#00E0CD;">
                <h3>Practice & Record Translation</h3>
                <p>Watch the Khan Academy video, practice translating, and record your translation.</p>
                </div>
                <div class="columnLanding" style="background-color:#00E0CD;">
                <h3>Review Translation & Upload</h3>
                <p>Watch your completed translation and upload it to be reviewed.</p>
        </div>
</div>
