<% include partials/header %>

<div class="container">
        <h1>Home Page</h1>

        <!-- <a href="/login" class="">Login</a> -->

        <!-- <button type="button"  class="btn btn-primary btn-lg btn-block"><a href="/login" class="">Login</a> </button> -->
        <a href="/login" class="btn btn-primary btn-lg active btn-block" role="button" aria-pressed="true">Login</a>


</div>


<% include partials/footer %>
