<% include partials/header %>

<div class="container">

<!-- <button type="button"  class="button"><a href="/login" class="">Login</a> </button> -->

        <h1 id="landing-header">Welcome to DKC: 1000 Videos for the Deaf</h1>

        <a href="/login" class="button" role="button" aria-pressed="true">Login/Signup</a>
        <!-- <a href="/login" class="">Login</a> -->

        <h1 id="empty"></h1>

        <p align="center"><iframe src="https://youtube.com/embed/o69Leis8Mcc" width=640 height="360"></iframe></p>
   
</div>
<br></br>
<br></br>

<div class="row">
  <div  class="columnLanding" style="background-color:#00E0CD;">
  <span class="glyphicon glyphicon-pencil"></span>
    <h2>Create an Account or Login</h2>
    <p>After reviewing the instructions, create an account to begin filming your translation.</p>
  </div>
  <div  class="columnLanding" style="background-color:#00E0CD;">
   <span class="glyphicon glyphicon-list"></span>
    <h2>Select a Video to Translate</h2>
    <p>Pick one of Khan Academy's many educational videos to begin translating into American Sign Language.</p>
  </div>
  <div class="columnLanding" style="background-color:#00E0CD;">
  <span class="glyphicon glyphicon-film"></span>
    <h2>Practice & Record Translation</h2>
    <p>Watch the Khan Academy video, practice translating, and record your translation.</p>
  </div>
  <div class="columnLanding" style="background-color:#00E0CD;">
  <span class="glyphicon glyphicon-upload"></span>
    <h2>Review Translation & Upload</h2>
    <p>Watch your completed translation and upload it to be reviewed.</p>
  </div>
</div>



<!--<% include partials/footer %>-->
