<form ref='uploadForm' id='uploadForm' action="/upload-test" method="POST" encType="multipart/form-data">

    <input type="file" name="sampleFile" />
    <input type='submit' value='Upload!'/>
</form>