<% include ./partials/header %>

<div class="container">

    <h1>Upload video!</h1>

    <p class="text-center">You are uploading video with title: <%= video.title %></p>

    <form ref='uploadForm' id='uploadForm' action="/upload-test/<%= video.id %>" method="POST" encType="multipart/form-data">
            <p><input type="file" name="sampleFile" /></p>

            <p align="center"><iframe src="<%= video.embed_url %>" width=640 height="360"></iframe></p>

            <p><input class="btn btn-primary" type='submit' value='Upload!'/></p>
    </form>
</div>


<% include ./partials/footer %>