body {
    color: black;
    font-family: 'Roboto', sans-serif;
    background: #348f50; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #348f50, #56b4d3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #348f50, #56b4d3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-bottom: 100px;
    padding-top: 50px;
}

#subjecttopic {
    margin-bottom: 20px;

}

#selected-video-table tbody {
    font-size: smaller;
}

h1 {
    color: white;
}
/*Landing page styles*/

input {
    color: black;
}

#bottom-nav {
    margin-top: 100px;
    height: 40px;
}

#bottom-nav a {
    font-size: smaller;
}

.center-block {
  /* display: block;
  margin-right: auto;
  margin-left: auto; */

  display:inline-block
}


/*Login page styles*/

#login-header {
    text-align: center;
}