<% include ../partials/header %>

<div class="container">
    <a href="/select-videos" class="btn btn-outline-light btn-lg btn-block">Select Videos to Translate</a>
    <br>
    <br>
    <a href="/download-videos" class="btn btn-outline-light btn-lg btn-block">Download Your Translations</a>
    <br>
    <br>
    <a href="/profile" class="btn btn-outline-light btn-lg btn-block">Your Profile</a>
</div>

<% include ../partials/footer %>

<!-- { "_id" : ObjectId("5a92398d0653cf46da420124"), "domain" : "math", "topic" : "graphing-sinusoids", "title" : "Transforming sinusoidal graphs: vertical stretch & horizontal reflection", "description" : "Sal graphs y=2*sin(-x) by considering it as a vertical stretch and a horizontal reflection of y=sin(x).", "url" : "https://www.khanacademy.org/video/example-amplitude-and-period-transformations", "__v" : 0 }
{ "_id" : ObjectId("5a92398d0653cf46da420125"), "domain" : "math", "topic" : "graphing-sinusoids", "title" : "Transforming sinusoidal graphs: vertical & horizontal stretches", "description" : "Sal graphs y=-2.5*cos(1/3*x) by considering it as a vertical stretch and reflection, and a horizontal stretch, of y=cos(x).", "url" : "https://www.khanacademy.org/video/amplitude-and-period-cosine-transformations", "__v" : 0 }
{ "_id" : ObjectId("5a92398d0653cf46da420126"), "domain" : "math", "topic" : "intro-to-amplitude-and-midline-of-sinusoids", "title" : "Features of sinusoidal functions", "description" : "Sal introduces the main features of sinusoidal functions: midline, amplitude, & period. He shows how these can be found from a sinusoidal function's graph.", "url" : "https://www.khanacademy.org/video/midline-amplitude-period", "__v" : 0 } -->